name: Conventional Commits

on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - run: echo "fetch_depth=$(( $commits + 1 ))" >> $GITHUB_ENV
        env:
          commits: ${{ github.event.pull_request.commits }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: ${{ env.fetch_depth }}
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      - run: npm install -g @commitlint/cli @commitlint/config-conventional
      - run: npx commitlint --from "$from" --to "$to" --verbose -x "$extends"
        env:
          from: ${{ github.event.pull_request.base.sha }}
          to: ${{ github.event.pull_request.head.sha }}
          extends: "@commitlint/config-conventional"