name: Conventional Commits

on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - run: echo "fetch_depth=$(( $commits + 1 ))" >> $GITHUB_ENV
        env:
          commits: ${{ github.event.pull_request.commits }}
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4
        with:
          fetch-depth: ${{ env.fetch_depth }}
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
      - run: npm install -g @commitlint/cli @commitlint/config-conventional
      - run: npx commitlint --from "$from" --to "$to" --verbose -x "$extends"
        env:
          from: ${{ github.event.pull_request.base.sha }}
          to: ${{ github.event.pull_request.head.sha }}
          extends: "@commitlint/config-conventional"