name: Publish Extension

on:
  push:
    branches:
      - main
    paths:
      - 'extension/manifest.release.json'

jobs:
  publish:
    name: Publish Extension
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: extension
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 18.20.8
      - run: npm ci
      - run: npm run build:release
      - name: Release extension
        run: npx chrome-webstore-upload-cli@2.2.2 upload --source extension.zip --auto-publish
        env:
          EXTENSION_ID: 'clecngohjeflemkblbfdfbjkjnigbjok'
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}